<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation=
        "http://www.thymeleaf.org http://www.thymeleaf.org
        http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
        http://www.thymeleaf.org/thymeleaf-extras-springsecurity4
        http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
lang="en">
<head>
    <div th:replace = "fragments/header"></div>
</head>
<body>
    <div th:replace = "fragments/navbar"></div>

    <table>
        <tr>
            <td>contractId</td>
            <td>contractName</td>
            <td>contractAward</td>
        </tr>
        <tr th:each = "contract : ${available_contracts}">
            <td><span th:text = "${contract.contractId}"></span></td>
            <td><span th:text = "${contract.contractName}"></span></td>
            <td><span th:text = "${contract.contractAward}"></span></td>
            <td>
                <form th:action = "@{/admin/delete_contract/{id} (id = ${contract.contractId})}" th:method = "get" th:object = "${contract}">
                    <input type = "submit" value = "delete">
                </form>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <div>
            <form th:action = "@{/admin/create_contract/}" method = "post" th:object = "${contract}">
                <td><input type = "text" th:field = "*{contractName}"></td>
                <td><input type = "text" th:field = "*{contractAward}"></td>
                <td><input type = "submit" value = "create"></td>
            </form>
            </div>
        </tr>
    </table>
</body>