<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation=
        "http://www.thymeleaf.org http://www.thymeleaf.org
        http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
        http://www.thymeleaf.org/thymeleaf-extras-springsecurity4
        http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
lang="en">
<head>
    <div th:replace = "fragments/header"></div>
</head>
<body>
    <div th:replace = "fragments/navbar"></div>

    <table>
        <tr th:each = "blueprint : ${shipyard}">
            <td><span th:text = "${blueprint.shipyardId}"></span></td>
            <td><span th:text = "${blueprint.shipClass}"></span></td>
            <td><span th:text = "${blueprint.shipPrice}"></span></td>
            <td>
                <form th:action = "@{/admin/delete_blueprint/{id} (id = ${blueprint.shipyardId})}" th:method = "get" th:object = "${blueprint}">
                    <input type = "submit" value = "delete">
                </form>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <div>
            <form th:action = "@{/admin/create_blueprint/}" method = "post" th:object = "${blueprint}">
                <td><input type = "text" th:field = "*{shipClass}"></td>
                <td><input type = "text" th:field = "*{shipPrice}"></td>
                <td><input type = "submit" value = "create"></td>
            </form>
            </div>
        </tr>
    </table>
</body>