<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation=
        "http://www.thymeleaf.org http://www.thymeleaf.org
        http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
        http://www.thymeleaf.org/thymeleaf-extras-springsecurity4
        http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
lang="en">
<head>
    <div th:replace = "fragments/header"></div>
</head>
<body>
    <div th:replace = "fragments/navbar"></div>

    Player
    <table th:object = "${player}">
        <tr><td>Id</td><td><span th:text = "*{playerId}"></span></td></tr>
        <tr><td>Name</td><td><span th:text = "*{playerName}"></span></td></tr>
        <tr><td>Credits</td><td><span th:text = "*{playerMonies}"></span></td></tr>
    </table>

    <br />
    <br />
    <br />

    Contracts
    <table>
        <tr>
            <td>contractId</td>
            <td>contractName</td>
            <td>contractAward</td>
        </tr>
        <tr th:each = "contract : ${contracts}">
            <td><span th:text = "${contract.contractId}"></span></td>
            <td><span th:text = "${contract.contractName}"></span></td>
            <td><span th:text = "${contract.contractAward}"></span></td>
        </tr>
    </table>

    <br />
    <br />
    <br />

    Ships
    <table>
        <tr>
            <td>shipID</td>
            <td>shipName</td>
            <td>shipClass</td>
        </tr>
        <tr th:each = "ship : ${ships}">
            <td><span th:text = "${ship.shipId}"></span></td>
            <td><span th:text = "${ship.shipName}"></span></td>
            <td><span th:text = "${ship.shipClass.shipClass}"></span></td>
        </tr>
    </table>

</body>