<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation=
        "http://www.thymeleaf.org http://www.thymeleaf.org
        http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
        http://www.thymeleaf.org/thymeleaf-extras-springsecurity4
        http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
lang="en">
<head>
    <div th:replace = "fragments/header"></div>
</head>
<body>
    <div th:replace = "fragments/navbar"></div>

    <table>
        <tr>
        <td>BlueprintId</td>
        <td>ShipClass</td>
        <td>ShipPrice</td>
        <td>ShipName</td>
        </tr>
        <tr th:each = "blueprint : ${blueprints}">
            <td><span th:text = "${blueprint.shipyardId}"></span></td>
            <td><span th:text = "${blueprint.shipClass}"></span></td>
            <td><span th:text = "${blueprint.shipPrice}"></span></td>
            <form th:action = "@{/player/buyship/}" method = "post" th:object = "${ship}">
                <td><input type = "text" th:field = "*{shipName}"></td>
                <td><input type = "submit" value = "buy"></td>
            </form>
        </tr>
    </table>
</body>